@(categroy_parent:List[models.Categroies],categroy_child:List[models.Categroies],article_list:List[models.ArticleList])
@main("HowtoForgo中文站"){
<script type="text/javascript">
	$('.tree-toggle').click(function() {
		$(this).parent().children('ul.tree').toggle(200);
	});
</script>

<div id="wrap">
    @header()
    <!-- content start -->
    <div class="container-fluid">
        <div class="row-fluid">
            @left(categroy_parent,categroy_child)
            <div id="advertise" class="span10">
                    <img class="img-polaroid" src="http://static.oschina.net/uploads/space/2013/0401/144218_1riz_179699.jpg">
            </div>

            <div class="span10 top20 bottom20 sider">
            	<div class="span">
           		 	@for(article <- article_list){
                    	<h4 class="left20"><a href="@article.article_href" class="right10">@article.article_title</a> @share()</h4>
                    	<h5 class="left20"><b>译文标题</b>:@article.article_title_cn</h5>
                   		<p class="left_right30"><b>原文</b>:@article.article_content</p>
                   		<p class="left_right30"><b>译文(通过有道翻译)</b>:@article.article_content_cn</p>
                    	<hr>
                	}
                	<!-- @@ page() -->
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->
    <div id="push"></div>
</div>
@footer()
}